USE [master]
GO
CREATE DATABASE [PHARMACY]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PHARMACY', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER1\MSSQL\DATA\PHARMACY.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PHARMACY_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER1\MSSQL\DATA\PHARMACY_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PHARMACY].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PHARMACY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TinhTongDoanhThuNhanVien]    Script Date: 11/6/2024 5:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_TinhTongDoanhThuNhanVien] 
	(@ma_NV INT)
	RETURNS DECIMAL(18, 2)
AS
BEGIN
    DECLARE @TongTien DECIMAL(18, 2);
    SELECT @TongTien = SUM(cthd.so_luong * t.gia_ban)
    FROM HoaDon hd
    JOIN ChiTietHD cthd ON hd.ma_HD = cthd.ma_HD
    JOIN Thuoc t ON cthd.ma_Thuoc = t.ma_thuoc
    WHERE hd.ma_NV = @ma_NV;
    
    RETURN ISNULL(@TongTien, 0); 
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TrungBinhSoLoaiThuoc]    Script Date: 11/6/2024 5:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_TrungBinhSoLoaiThuoc]()
RETURNS DECIMAL(10, 2)
AS
BEGIN
    DECLARE @TrungBinh DECIMAL(10, 2);
    
    SELECT @TrungBinh = AVG(so_loai_thuoc)
    FROM (
        SELECT COUNT(DISTINCT nt.ma_thuoc) AS so_loai_thuoc
        FROM NhaCungCap ncc
        JOIN NCC_Thuoc nt ON nt.ma_NCC = ncc.ma_NCC
        GROUP BY ncc.ma_NCC
    ) AS LoaiThuocNCC;

    RETURN @TrungBinh;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[TinhTongHoaDon]    Script Date: 11/6/2024 5:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[TinhTongHoaDon] (@ma_HD INT)
RETURNS DECIMAL(10, 2)
AS
BEGIN
    DECLARE @TongTien DECIMAL(10, 2);

    SELECT @TongTien = SUM(CT.so_luong * T.gia_ban)
    FROM ChiTietHD CT
    JOIN Thuoc T ON CT.ma_Thuoc = T.ma_thuoc
    WHERE CT.ma_HD = @ma_HD;

    RETURN @TongTien;
END;

GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 11/6/2024 5:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[ma_KH] [int] NOT NULL,
	[ten_KH] [nvarchar](100) NULL,
	[SDT_KH] [nvarchar](15) NULL,
	[gioi_tinh] [nvarchar](10) NULL,
	[ngay_sinh] [date] NULL,
	[diem_tich] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_KH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 11/6/2024 5:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[ma_HD] [int] NOT NULL,
	[ma_NV] [int] NULL,
	[ma_KH] [int] NULL,
	[ngay_tao] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_HD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_KhachHangCoHDTheoThangNam]    Script Date: 11/6/2024 5:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_KhachHangCoHDTheoThangNam]
	(@thang INT = NULL,
	 @nam INT = NULL)
	RETURNS TABLE
AS
RETURN
(
    SELECT DISTINCT kh.ma_KH, kh.ten_KH, hd.ngay_tao
    FROM KhachHang kh
    JOIN HoaDon hd ON kh.ma_KH = hd.ma_KH
    WHERE (@thang IS NULL OR MONTH(hd.ngay_tao) = @thang)
		  AND (@nam IS NULL OR YEAR(hd.ngay_tao) = @nam)
);
GO
/****** Object:  Table [dbo].[Thuoc]    Script Date: 11/6/2024 5:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thuoc](
	[ma_thuoc] [int] NOT NULL,
	[ten_thuoc] [nvarchar](100) NULL,
	[thuong_hieu] [nvarchar](100) NULL,
	[lieu_luong] [varchar](50) NULL,
	[so_luong_ton] [int] NULL,
	[gia_nhap] [decimal](10, 2) NULL,
	[gia_ban] [decimal](10, 2) NULL,
	[HSD] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_thuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHD]    Script Date: 11/6/2024 5:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHD](
	[ma_CTHD] [int] IDENTITY(1,1) NOT NULL,
	[ma_HD] [int] NOT NULL,
	[ma_Thuoc] [int] NOT NULL,
	[so_luong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_CTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ChiTietHoaDonView]    Script Date: 11/6/2024 5:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[ChiTietHoaDonView] AS
SELECT 
    ct.ma_HD,t.ten_thuoc AS ten_thuoc_view,ct.so_luong,t.gia_ban,
    (ct.so_luong * t.gia_ban) AS thanh_tien
FROM ChiTietHD ct
JOIN Thuoc t ON ct.ma_Thuoc = t.ma_Thuoc;
GO
/****** Object:  Table [dbo].[NCC_Thuoc]    Script Date: 11/6/2024 5:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCC_Thuoc](
	[ma_NCC] [int] NOT NULL,
	[ma_thuoc] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_NCC] ASC,
	[ma_thuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 11/6/2024 5:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[ma_NCC] [int] NOT NULL,
	[ten_NCC] [nvarchar](100) NULL,
	[SDT] [nvarchar](15) NULL,
	[dia_chi] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_NCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_SLThuocNCC]    Script Date: 11/6/2024 5:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_SLThuocNCC] 
AS
SELECT ncc.ma_NCC, ncc.ten_NCC,
	COUNT( DISTINCT nt.ma_thuoc) AS so_loai_thuoc,
	SUM(t.gia_ban) AS tong_gia_ban
FROM NhaCungCap ncc JOIN NCC_Thuoc nt ON nt.ma_NCC = ncc.ma_NCC
					JOIN Thuoc t ON nt.ma_thuoc = t.ma_thuoc
GROUP BY ncc.ma_NCC, ncc.ten_NCC;
GO
/****** Object:  View [dbo].[v_LichSuMuaKH]    Script Date: 11/6/2024 5:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_LichSuMuaKH]
AS
	SELECT kh.ma_KH,kh.ten_KH,kh.SDT_KH,kh.gioi_tinh, COUNT(hd.ma_HD) as So_don_hang,
	SUM(cthd.so_luong * t.gia_ban) as Tong_chi_tieu, MAX(hd.ngay_tao) AS ngay_mua_gan_nhat
	FROM KhachHang kh   
	LEFT JOIN HoaDon hd on kh.ma_KH = hd.ma_KH
	LEFT JOIN ChiTietHD  cthd on hd.ma_HD = cthd.ma_HD
	LEFT JOIN Thuoc t on cthd.ma_Thuoc = t.ma_thuoc
	GROUP BY kh.ten_KH,kh.ma_KH,kh.SDT_KH,kh.gioi_tinh
	HAVING COUNT(hd.ma_HD) > 0;
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11/6/2024 5:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[ma_NV] [int] NOT NULL,
	[ten_NV] [nvarchar](100) NULL,
	[SDT] [nvarchar](15) NULL,
	[dia_chi] [nvarchar](50) NULL,
	[ngay_sinh] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_NV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_SLDonCuaNV]    Script Date: 11/6/2024 5:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_SLDonCuaNV]
AS
	SELECT nv.ma_NV, nv.ten_NV, COUNT(hd.ma_HD) as so_hoa_don,
	SUM(cthd.so_luong * t.gia_ban)as TongTien
	FROM NhanVien nv
	left join HoaDon hd on nv.ma_NV = hd.ma_NV
	left join ChiTietHD cthd on hd.ma_HD = cthd.ma_HD
	left join Thuoc t on cthd.ma_Thuoc = t.ma_thuoc
	GROUP BY nv.ma_NV, nv.ten_NV
	HAVING COUNT(hd.ma_HD) > 0;
	
GO
/****** Object:  Table [dbo].[cache]    Script Date: 11/6/2024 5:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cache](
	[key] [nvarchar](255) NOT NULL,
	[value] [nvarchar](max) NOT NULL,
	[expiration] [int] NOT NULL,
 CONSTRAINT [cache_key_primary] PRIMARY KEY CLUSTERED 
(
	[key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cache_locks]    Script Date: 11/6/2024 5:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cache_locks](
	[key] [nvarchar](255) NOT NULL,
	[owner] [nvarchar](255) NOT NULL,
	[expiration] [int] NOT NULL,
 CONSTRAINT [cache_locks_key_primary] PRIMARY KEY CLUSTERED 
(
	[key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietNhapHang]    Script Date: 11/6/2024 5:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietNhapHang](
	[ma_CTNH] [int] IDENTITY(1,1) NOT NULL,
	[ma_PN] [int] NOT NULL,
	[ma_thuoc] [int] NOT NULL,
	[so_luong_nhap] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_CTNH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[failed_jobs]    Script Date: 11/6/2024 5:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[failed_jobs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[uuid] [nvarchar](255) NOT NULL,
	[connection] [nvarchar](max) NOT NULL,
	[queue] [nvarchar](max) NOT NULL,
	[payload] [nvarchar](max) NOT NULL,
	[exception] [nvarchar](max) NOT NULL,
	[failed_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[job_batches]    Script Date: 11/6/2024 5:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[job_batches](
	[id] [nvarchar](255) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[total_jobs] [int] NOT NULL,
	[pending_jobs] [int] NOT NULL,
	[failed_jobs] [int] NOT NULL,
	[failed_job_ids] [nvarchar](max) NOT NULL,
	[options] [nvarchar](max) NULL,
	[cancelled_at] [int] NULL,
	[created_at] [int] NOT NULL,
	[finished_at] [int] NULL,
 CONSTRAINT [job_batches_id_primary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[jobs]    Script Date: 11/6/2024 5:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jobs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[queue] [nvarchar](255) NOT NULL,
	[payload] [nvarchar](max) NOT NULL,
	[attempts] [tinyint] NOT NULL,
	[reserved_at] [int] NULL,
	[available_at] [int] NOT NULL,
	[created_at] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[migrations]    Script Date: 11/6/2024 5:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[migrations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[migration] [nvarchar](255) NOT NULL,
	[batch] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 11/6/2024 5:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[ma_PN] [int] NOT NULL,
	[ngay_dat] [date] NULL,
	[ngay_nhan] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_PN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sessions]    Script Date: 11/6/2024 5:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sessions](
	[id] [nvarchar](255) NOT NULL,
	[user_id] [int] NULL,
	[ip_address] [nvarchar](45) NULL,
	[user_agent] [nvarchar](max) NULL,
	[payload] [nvarchar](max) NOT NULL,
	[last_activity] [int] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [sessions_id_primary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 11/6/2024 5:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[email_verified_at] [datetime] NULL,
	[password] [nvarchar](255) NOT NULL,
	[remember_token] [nvarchar](100) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChiTietHD] ON 

INSERT [dbo].[ChiTietHD] ([ma_CTHD], [ma_HD], [ma_Thuoc], [so_luong]) VALUES (1, 1, 100, 10)
INSERT [dbo].[ChiTietHD] ([ma_CTHD], [ma_HD], [ma_Thuoc], [so_luong]) VALUES (2, 2, 102, 20)
INSERT [dbo].[ChiTietHD] ([ma_CTHD], [ma_HD], [ma_Thuoc], [so_luong]) VALUES (3, 2, 103, 30)
SET IDENTITY_INSERT [dbo].[ChiTietHD] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietNhapHang] ON 

INSERT [dbo].[ChiTietNhapHang] ([ma_CTNH], [ma_PN], [ma_thuoc], [so_luong_nhap]) VALUES (1, 1, 100, 10)
INSERT [dbo].[ChiTietNhapHang] ([ma_CTNH], [ma_PN], [ma_thuoc], [so_luong_nhap]) VALUES (2, 2, 101, 15)
INSERT [dbo].[ChiTietNhapHang] ([ma_CTNH], [ma_PN], [ma_thuoc], [so_luong_nhap]) VALUES (3, 3, 102, 20)
SET IDENTITY_INSERT [dbo].[ChiTietNhapHang] OFF
GO
INSERT [dbo].[HoaDon] ([ma_HD], [ma_NV], [ma_KH], [ngay_tao]) VALUES (1, 1, 10, CAST(N'2023-07-27' AS Date))
INSERT [dbo].[HoaDon] ([ma_HD], [ma_NV], [ma_KH], [ngay_tao]) VALUES (2, 1, 12, CAST(N'2023-05-20' AS Date))
INSERT [dbo].[HoaDon] ([ma_HD], [ma_NV], [ma_KH], [ngay_tao]) VALUES (3, 2, 10, CAST(N'2024-05-24' AS Date))
GO
INSERT [dbo].[KhachHang] ([ma_KH], [ten_KH], [SDT_KH], [gioi_tinh], [ngay_sinh], [diem_tich]) VALUES (1, N'Nguyễn Văn Lâm', N'0123456789', N'Nam', CAST(N'1990-01-01' AS Date), 49)
INSERT [dbo].[KhachHang] ([ma_KH], [ten_KH], [SDT_KH], [gioi_tinh], [ngay_sinh], [diem_tich]) VALUES (2, N'Ngô Bích Thủy', N'0981435342', N'Nữ', CAST(N'2000-06-15' AS Date), 81)
INSERT [dbo].[KhachHang] ([ma_KH], [ten_KH], [SDT_KH], [gioi_tinh], [ngay_sinh], [diem_tich]) VALUES (3, N'Lê Thị Thắm', N'0987654321', N'Nữ', CAST(N'1991-02-01' AS Date), 19)
GO
SET IDENTITY_INSERT [dbo].[migrations] ON 

INSERT [dbo].[migrations] ([id], [migration], [batch]) VALUES (4, N'0001_01_01_000000_create_users_table', 1)
INSERT [dbo].[migrations] ([id], [migration], [batch]) VALUES (5, N'0001_01_01_000001_create_cache_table', 1)
INSERT [dbo].[migrations] ([id], [migration], [batch]) VALUES (6, N'0001_01_01_000002_create_jobs_table', 1)
SET IDENTITY_INSERT [dbo].[migrations] OFF
GO
INSERT [dbo].[NCC_Thuoc] ([ma_NCC], [ma_thuoc]) VALUES (11, 100)
INSERT [dbo].[NCC_Thuoc] ([ma_NCC], [ma_thuoc]) VALUES (11, 102)
INSERT [dbo].[NCC_Thuoc] ([ma_NCC], [ma_thuoc]) VALUES (11, 103)
GO
INSERT [dbo].[NhaCungCap] ([ma_NCC], [ten_NCC], [SDT], [dia_chi]) VALUES (11, N'Roche', N'0909212367', N'Switzerland')
INSERT [dbo].[NhaCungCap] ([ma_NCC], [ten_NCC], [SDT], [dia_chi]) VALUES (12, N'Traphaco', N'0979014567', N'VietNam')
INSERT [dbo].[NhaCungCap] ([ma_NCC], [ten_NCC], [SDT], [dia_chi]) VALUES (13, N'Centralphar', N'0979014567', N'America')
GO
INSERT [dbo].[NhanVien] ([ma_NV], [ten_NV], [SDT], [dia_chi], [ngay_sinh]) VALUES (1, N'Nguyễn Lan Anh', N'0981332367', N'Hà Nội', CAST(N'2000-12-01' AS Date))
INSERT [dbo].[NhanVien] ([ma_NV], [ten_NV], [SDT], [dia_chi], [ngay_sinh]) VALUES (2, N'Ngô Kim Thúy', N'0981734267', N'Huế', CAST(N'2000-06-15' AS Date))
INSERT [dbo].[NhanVien] ([ma_NV], [ten_NV], [SDT], [dia_chi], [ngay_sinh]) VALUES (3, N'Hoàng Văn Lâm', N'0979119367', N'Thái Bình', CAST(N'1999-09-01' AS Date))
GO
INSERT [dbo].[PhieuNhap] ([ma_PN], [ngay_dat], [ngay_nhan]) VALUES (1, CAST(N'2024-01-01' AS Date), CAST(N'2024-01-05' AS Date))
INSERT [dbo].[PhieuNhap] ([ma_PN], [ngay_dat], [ngay_nhan]) VALUES (2, CAST(N'2024-01-02' AS Date), CAST(N'2024-01-06' AS Date))
INSERT [dbo].[PhieuNhap] ([ma_PN], [ngay_dat], [ngay_nhan]) VALUES (3, CAST(N'2024-01-03' AS Date), CAST(N'2024-01-07' AS Date))
GO
INSERT [dbo].[Thuoc] ([ma_thuoc], [ten_thuoc], [thuong_hieu], [lieu_luong], [so_luong_ton], [gia_nhap], [gia_ban], [HSD]) VALUES (100, N'Diphenhydramine', N'Dược Phẩm ZZZ', N'25mg', 1985, CAST(15000.00 AS Decimal(10, 2)), CAST(25000.00 AS Decimal(10, 2)), CAST(N'2026-06-12' AS Date))
INSERT [dbo].[Thuoc] ([ma_thuoc], [ten_thuoc], [thuong_hieu], [lieu_luong], [so_luong_ton], [gia_nhap], [gia_ban], [HSD]) VALUES (101, N'Loratadine', N'Dược Phẩm ABC', N'10mg', 2996, CAST(18000.00 AS Decimal(10, 2)), CAST(24000.00 AS Decimal(10, 2)), CAST(N'2025-10-05' AS Date))
INSERT [dbo].[Thuoc] ([ma_thuoc], [ten_thuoc], [thuong_hieu], [lieu_luong], [so_luong_ton], [gia_nhap], [gia_ban], [HSD]) VALUES (102, N'Cetirizine', N'Dược Phẩm DEF', N'10mg', 1500, CAST(12000.00 AS Decimal(10, 2)), CAST(26000.00 AS Decimal(10, 2)), CAST(N'2025-12-20' AS Date))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [failed_jobs_uuid_unique]    Script Date: 11/6/2024 5:40:42 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [failed_jobs_uuid_unique] ON [dbo].[failed_jobs]
(
	[uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [jobs_queue_index]    Script Date: 11/6/2024 5:40:42 PM ******/
CREATE NONCLUSTERED INDEX [jobs_queue_index] ON [dbo].[jobs]
(
	[queue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [users_email_unique]    Script Date: 11/6/2024 5:40:42 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [users_email_unique] ON [dbo].[users]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[failed_jobs] ADD  DEFAULT (getdate()) FOR [failed_at]
GO
ALTER TABLE [dbo].[ChiTietHD]  WITH CHECK ADD FOREIGN KEY([ma_HD])
REFERENCES [dbo].[HoaDon] ([ma_HD])
GO
ALTER TABLE [dbo].[ChiTietHD]  WITH CHECK ADD FOREIGN KEY([ma_Thuoc])
REFERENCES [dbo].[Thuoc] ([ma_thuoc])
GO
ALTER TABLE [dbo].[ChiTietNhapHang]  WITH CHECK ADD FOREIGN KEY([ma_PN])
REFERENCES [dbo].[PhieuNhap] ([ma_PN])
GO
ALTER TABLE [dbo].[ChiTietNhapHang]  WITH CHECK ADD FOREIGN KEY([ma_thuoc])
REFERENCES [dbo].[Thuoc] ([ma_thuoc])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([ma_KH])
REFERENCES [dbo].[KhachHang] ([ma_KH])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([ma_NV])
REFERENCES [dbo].[NhanVien] ([ma_NV])
GO
ALTER TABLE [dbo].[NCC_Thuoc]  WITH CHECK ADD FOREIGN KEY([ma_NCC])
REFERENCES [dbo].[NhaCungCap] ([ma_NCC])
GO
ALTER TABLE [dbo].[NCC_Thuoc]  WITH CHECK ADD FOREIGN KEY([ma_thuoc])
REFERENCES [dbo].[Thuoc] ([ma_thuoc])
GO
/****** Object:  StoredProcedure [dbo].[sp_LichSuMuaKH]    Script Date: 11/6/2024 5:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_LichSuMuaKH]
	@TenKhachHang nvarchar(100) = '%',
	@StartDate date = NULL,
	@EndDate date = NULL
AS 
	BEGIN
		SELECT kh.ma_KH,kh.ten_KH,kh.SDT_KH, COUNT(hd.ma_HD) as So_don_hang,
		SUM(cthd.so_luong * t.gia_ban) as Tong_chi_tieu, MAX(hd.ngay_tao) AS ngay_mua_gan_nhat
		FROM KhachHang kh
		LEFT JOIN HoaDon hd on kh.ma_KH = hd.ma_KH
		LEFT JOIN ChiTietHD  cthd on hd.ma_HD = cthd.ma_HD
		LEFT JOIN Thuoc t on cthd.ma_Thuoc = t.ma_thuoc
		WHERE kh.ten_KH LIKE @TenKhachHang
			  AND (@StartDate IS NULL OR hd.ngay_tao >= @StartDate) 
			  AND (@EndDate IS NULL OR hd.ngay_tao <= @EndDate)
		GROUP BY kh.ten_KH,kh.ma_KH,kh.SDT_KH
		HAVING COUNT(hd.ma_HD) > 0;
	END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SLThuocNCC]    Script Date: 11/6/2024 5:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SLThuocNCC]
    @MaNCC INT = NULL,
    @MinSL INT = 0,
    @MaxSL INT = 1000
AS
BEGIN
	SELECT ncc.ma_NCC,  ncc.ten_NCC,
		COUNT(DISTINCT nt.ma_thuoc) AS so_loai_thuoc,
		SUM(t.gia_ban) AS tong_gia_ban
	FROM NhaCungCap ncc JOIN NCC_Thuoc nt ON nt.ma_NCC = ncc.ma_NCC
						JOIN Thuoc t ON nt.ma_thuoc = t.ma_thuoc
	GROUP BY ncc.ma_NCC, ncc.ten_NCC
	HAVING (@MaNCC IS NULL OR ncc.ma_NCC = @MaNCC) AND
			COUNT(DISTINCT nt.ma_thuoc) BETWEEN @MinSL AND @MaxSL;
END;
GO
/****** Object:  StoredProcedure [dbo].[ThemNhanVien]    Script Date: 11/6/2024 5:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ThemNhanVien]
    @ma_NV INT,
    @ten_NV NVARCHAR(100),
    @SDT NVARCHAR(15),
    @dia_chi NVARCHAR(50),
    @ngay_sinh DATE
AS
BEGIN
    INSERT INTO NhanVien (ma_NV, ten_NV, SDT, dia_chi, ngay_sinh)
    VALUES (@ma_NV, @ten_NV, @SDT, @dia_chi, @ngay_sinh);
END;
GO
/****** Object:  StoredProcedure [dbo].[ThemThuoc]    Script Date: 11/6/2024 5:40:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ThemThuoc]
    @ma_thuoc INT,
    @ten_thuoc NVARCHAR(100), 
    @thuong_hieu NVARCHAR(100),
    @lieu_luong VARCHAR(50),
    @so_luong_ton INT,
    @gia_nhap DECIMAL(10,2),
    @gia_ban DECIMAL(10,2),
    @HSD DATE
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM Thuoc WHERE ma_thuoc = @ma_thuoc)
    BEGIN
        INSERT INTO Thuoc (ma_thuoc, ten_thuoc, thuong_hieu, lieu_luong, so_luong_ton, gia_nhap, gia_ban, HSD)
        VALUES (@ma_thuoc, @ten_thuoc, @thuong_hieu, @lieu_luong, @so_luong_ton, @gia_nhap, @gia_ban, @HSD);
    END
    ELSE
    BEGIN
        PRINT N'Error: Mã thuốc đã tồn tại.';
    END
END;
GO
USE [master]
GO
